language: node_js
sudo: false
dist: trusty
cache:
  directories:
    - $HOME/.npm
node_js:
  - "12"

install:
  - npm ci

script:
  - npm run build
  - npm run test
  - npm run lint
  - npm run bundlesize

after_success:
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && npm run gh-pages
  - if [ -n "$TRAVIS_TAG" ]; then npm run github-release; fi

env:
  global:
    secure: 4OEhCrA6t31EstjtRUgg5xgwHYeWu7/zcRtkhBTyMi8tC6FoAYwHJXQN9//KUywAgzaXX3vJizB9ds+iyuBYuAjlqSRQvTlZIZBtuV1uFbucrGDA1zL9v4BpdPuvSAStE2rzK5aKhxnrZSVtvW8n7hIzEgKecxLetd1agvsPb0GmyH8mFJ9xiGRlP/96iPWxpfsY2yfD7cuJQOjJf9FyyA/rzhnZSwE0AhQjysPPVxRF98arow6Ih9D6KxhbkEPGgEOlAQSM7buxe40J29SOCgZznpynnW6EBgFtJyZeAMOZY60DhuhbbvquKwRv4bim9BsIhcesoaSE1f9aCkU8CrzDd4I83ZwFmd4WtlbPfC2b9d6n0bKctBtFB5vwQAdo5T7WtKxuesmOY0zVe2KsisyAJvY3uxjpgI/G96fSYcgkS0LUxp7a87eIqHnLU/37fJ3qYxVtBvJyJCh9kvGMg4fRhcwijvRGPDr7M2Yj269FpVcPKaCMbYiHcIMj7Lmg5auas7KvaMLt/Wa7kpAPjPZzA2iIAT9qFpBRf/C3vriiMaoM9pSYLFV9s+a9w36tk/66lYKXu/RiUwEIBv+kvYkYqFsYiiTurm/260z8Bo4MZ+Di6qmN1AQd6EfVoubkARKPKORizSEq9Bw0KLlhWSfHhYAPP0i9Tt8HTZ2snaU=
