<ngx-loading-bar></ngx-loading-bar>
<!-- <button (click)="startLoadingBarHttpRequest()" type="button" name="button">Start Loading Bar Http</button> -->


<div>
    <h3>Load request using `@angular/common/http`</h3>
    <button (click)="startHttpClientRequest()" type="button" name="button">Load</button>
    <ul><li *ngFor="let hero of httpClientDataResponse">{{hero.name}}</li></ul>
</div>

<div>
    <h3>Load request using `@angular/http`</h3>
    <button (click)="startHttpRequest()" type="button" name="button">Load</button>
    <ul><li *ngFor="let hero of httpDataResponse">{{hero.name}}</li></ul>
</div>

<div>
    <h3>Manage manually loading bar</h3>
    <button (click)="startTimer()" type="button" name="button">Start Timer</button>
    <h4>{{timer}}</h4>
</div>