<div class="container">
  <div class="row">
    <div class="text-center col">
      <h1>@ngx-loading-bar/*</h1>
      <ngx-loading-bar [color]="'red'"></ngx-loading-bar>
      <router-outlet></router-outlet>
      <p>
        Automatic loading bar with zero configuration (http and router)
      </p>
      <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <div class="col">
      <ul>
        <li>
          Display loading-bar on http request
          <div>
            <button class="btn btn-sm btn-outline-primary" (click)="startHttpClientRequest()" type="button" name="button">Load</button>
          </div>
        </li>
        <li>
          Display loading-bar on route navigation
          <div>
            <a class="btn btn-sm btn-outline-primary" role="button"
              [routerLink]="['']"
              routerLinkActive="disabled"
              [routerLinkActiveOptions]="{ exact:true }">
              page '/'
            </a>
            <a class="btn btn-sm btn-outline-primary" role="button"
              [routerLink]="['home']"
              routerLinkActive="disabled"
              [routerLinkActiveOptions]="{ exact:true }">
              page '/test'
            </a>
          </div>
        </li>
        <li>
          Manage manually loading bar
          <div>
            <button class="btn btn-sm btn-outline-primary" (click)="start()" type="button" name="button">Start</button>
            <button class="btn btn-sm btn-outline-primary" (click)="set()" type="button" name="button">set to 50%</button>
            <button class="btn btn-sm btn-outline-primary" (click)="increment()" type="button" name="button">increment by 10%</button>
            <button class="btn btn-sm btn-outline-primary" (click)="complete()" type="button" name="button">Complete</button>
            <button class="btn btn-sm btn-outline-primary" (click)="stop()" type="button" name="button">Stop</button>
          </div>
        </li>
        <li>
          With disabled fixed position `[fixed]="false"`
          <div style="height: 20px;">
            <ngx-loading-bar [color]="'black'" [fixed]="false"></ngx-loading-bar>
          </div>
        </li>
        <li>
          Manage manually loading bar: using rxjs observable (timer 3 seconds)
          <div>
            <button class="btn btn-sm btn-outline-primary" (click)="startTimer()" type="button" name="button">Start Timer ({{ timer }})</button>
          </div>
        </li>
        <li>
          Using <a href="https://material.angular.io/components/progress-bar/overview" target="_blank">Material Progress bar</a>
          <mat-progress-bar mode="determinate" [value]="loader.progress$|async"></mat-progress-bar>
        </li>
        <li>
          Only show loader when a request has taken more than 500ms

          <ngx-loading-bar [value]="(delayedProgress$|async) || 0" [color]="'blue'" [fixed]="false"></ngx-loading-bar>
        </li>
      </ul>
    </div>
  </div>
</div>
